.LoginSignupWrapper {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.LoginSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.LoginSignup-container {
    background: #D9D9D9;
    border-radius: 15px;
    padding: 30px 40px;
    width: 415px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    z-index: 99;
    min-height: 49vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: height 0.3s ease-in-out;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

.tab {
  flex: 1;
  padding: 10px;
  font-size: 23px;
  text-align: center;
  border: none;
  cursor: pointer;
  color: #000000;
  transition: all 0.3s ease;
  z-index: 2;
  background-color: transparent;
}

.tab.active {
  color: white;
  font-weight: bold;
}

.sliderTab {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, #a732e6, #bc36c8);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.sliderTab.login {
  transform: translateX(0);
}

.sliderTab.signup {
  transform: translateX(100%);
}

.LoginSignup-form {
  gap: 25px;
}

.nameContainer, .passwordContainer{
  display: flex;
  gap: 15px;
}

.LoginEmail, .LoginPassword, .signupEmail, .adminKeyInput{
  display: block;
  width: 92%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 1.5vw;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.signupFirstName, .signupLastName, .signupPasswordInput, .signupConfirmPasswordInput{
  border-radius: 1.5vw !important;
}

.signupFirstName, .signupLastName, .signupConfirmPasswordInput, .signupPasswordInput{
  padding: 0px 15px !important;
}

.signupFirstName, .signupLastName{
  height: 5vh;
}

.signupPasswordInput, .signupConfirmPasswordInput{
  width: 400px;
  border: none;
  padding: 3px 13px;
  height: 4.5vh;
  font-size: 16px;
}

.LoginSignup-form input:focus {
  border-color: #009688;
  background-color: #ffffff;
  outline: none;
}

.LoginSignup-form button {
  background: linear-gradient(270deg, #a732e6, #bc36c8);
  border-radius: 5vw;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 23px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 40%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.ForgotPasswordContainer {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px; 
}

.ForgotPassword, .internSignup {
  font-size: 14px;
  color: #a732e6;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.ForgotPassword:hover {
  color: #bc36c8;
}


.Waves {
  width: 100%;
  height: 50vh; 
  position: absolute;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat; 
  background-position: center; 
  transform-origin: center; 
  transition: transform 0.5s ease-in-out;
}

.Waves.signup {
  background-image: url('../assets/LoginWave.png');
  bottom: 0%;
  right: 0%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.Waves.login {
  background-image: url('../assets/SignupWave.png');
  bottom: 0%;
  right: 0%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

/*This is a piece of code i dont think we need for now*/
/*.Circle {
  position: absolute;
  width: 50%; 
  height: 50%; 
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in-out; 
  z-index: 10;
}*/

.Circle.login {
  background-image: url('../assets/LoginCircle.png'); 
  bottom: 0%;
  right: 0%; 
  width: 33.5%;
  height: 50%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.Circle.signup {
  background-image: url('../assets/signupCircle.png');
  bottom: 0;
  left: 0; 
}

@media (max-width: 768px) {
  .LoginSignup{
    width: 85%;
  }
  
  .LoginSignupWrapper{
    height: 90vh;
  }

  .LoginSignup-container{
    width: 75%;
    min-height: 35vh;
  }

  .nameContainer, .passwordContainer{
    flex-direction: column;
  }

  .nameContainer input{
    width: 104%;
    height: 5.5vh;
  }
  .passwordContainer input{
    width: 92%;
    height: 5.5vh;
  }
  
  .LoginSignup-form button{
    width: 50%;
  }
}
