.addedWrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoWrapper{
    display: flex;;
}

.logoWrapper img{
    width: 100px;
}

.thankyouForApplying{
    padding: 0 10%;
    text-align: center;
}

@media (max-width: 768px) {
    .addedWrapper{
        height: 90vh;
    }
}